/.idea
*.iml
*.versionsBackup
*.mmd
1_10_R1/src/main/resources/
1_10_R1/src/test/
1_10_R1/target/
1_11_R1/src/main/resources/
1_11_R1/src/test/
1_11_R1/target/
1_12_R1/src/main/resources/
1_12_R1/src/test/
1_12_R1/target/
1_13_R1/src/main/resources/
1_13_R1/src/test/
1_13_R1/target/
1_13_R2/src/main/resources/
1_13_R2/src/test/
1_13_R2/target/
1_14_4_R1/src/main/resources/
1_14_4_R1/src/test/
1_14_4_R1/target/
1_14_R1/src/main/resources/
1_14_R1/src/test/
1_14_R1/target/
1_15_R1/src/main/resources/
1_15_R1/src/test/
1_15_R1/target/
1_16_R1/src/main/resources/
1_16_R1/src/test/
1_16_R1/target/
1_16_R2/src/main/resources/
1_16_R2/src/test/
1_16_R2/target/
1_16_R3/src/main/resources/
1_16_R3/src/test/
1_16_R3/target/
1_8_R1/src/main/resources/
1_8_R1/src/test/
1_8_R1/target/
1_8_R2/src/main/resources/
1_8_R2/src/test/
1_8_R2/target/
1_8_R3/src/main/resources/
1_8_R3/src/test/
1_8_R3/target/
1_9_R1/src/main/resources/
1_9_R1/src/test/
1_9_R1/target/
1_9_R2/src/main/resources/
1_9_R2/src/test/
1_9_R2/target/
API/src/main/resources/
API/src/test/
API/target/
UltiCoreAPI/src/test/
UltiCoreAPI/target/
target/
